
<% if( component === "style" ) { %>

<link href="<%-assets_root%>plugins/misc/starry_sky/style.css" rel="stylesheet" />

<% }else if( component === "structure" ) { %>

<div id="particles-background" class="vertical-centered-box"></div>
<div id="particles-foreground" class="vertical-centered-box"></div>
<div class="vertical-centered-box">
   <div class="content">
      <div class="loader-circle"></div>
      <div id="loader-line-mask" class="loader-line-mask">
         <div class="loader-line"></div>
      </div>
      <svg width="300px" height="180px" viewBox="0 0 300 180" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
         <g transform="translate(148,56)"  >
            <!--<path d="M17.016 15v-3.984h-2.016v3.984h2.016zM12.984 12.984v-1.969h-1.969v1.969h1.969zM12.984 18.984v-3.984h-1.969v3.984h1.969zM9 15v-3.984h-2.016v3.984h2.016zM17.016 18.984v-1.969h-2.016v1.969h2.016zM9 18.984v-1.969h-2.016v1.969h2.016zM19.969 3.984l0.047 16.031c0 1.078-0.938 1.969-2.016 1.969h-12c-1.078 0-2.016-0.891-2.016-1.969v-12l6-6h8.016c1.078 0 1.969 0.891 1.969 1.969z" fill="white" transform="scale(3.2)"></path>-->

         <!--
         <path id="XMLID_455_" class="st0" d="M317.8,3.3c-2.1-2.1-5-3.3-8-3.3H116.6C91.6,0,71.2,20.4,71.2,45.5v409.1
				c0,25.1,20.4,45.5,45.5,45.5h272.7c25.1,0,45.5-20.4,45.5-45.5V125c0-3-1.2-5.9-3.3-8L317.8,3.3z M412.1,454.5
				c0,12.5-10.2,22.7-22.7,22.7H116.6c-12.5,0-22.7-10.2-22.7-22.7V45.5c0-12.5,10.2-22.7,22.7-22.7h188.4l107,107V454.5z"  fill="white" transform="scale(0.16)"/>
			<path id="XMLID_447_" class="st0" d="M139.4,215.9v181.8c0,18.8,15.3,34.1,34.1,34.1h159.1c18.8,0,34.1-15.3,34.1-34.1V215.9
				c0-18.8-15.3-34.1-34.1-34.1H173.5C154.7,181.8,139.4,197.1,139.4,215.9z M207.6,409.1h-34.1c-6.3,0-11.4-5.1-11.4-11.4v-34.1
				h45.5V409.1z M275.7,409.1h-45.5v-45.5h45.5V409.1z M343.9,397.7c0,6.3-5.1,11.4-11.4,11.4h-34.1v-56.8c0-6.3-5.1-11.4-11.4-11.4
				h-125v-68.2h181.8V397.7z M298.5,204.5h34.1c6.3,0,11.4,5.1,11.4,11.4V250h-45.5V204.5z M230.3,204.5h45.5V250h-45.5L230.3,204.5
            L230.3,204.5z M207.6,250h-45.5v-34.1c0-6.3,5.1-11.4,11.4-11.4h34.1V250z" fill="white" transform="scale(0.16)"/>
         -->
         
         <path class="st0" d="M221.9,134.8L115.2,28.1c-2-2-4.7-3.1-7.5-3.1h-224c-23.5,0-42.7,19.1-42.7,42.7v426.7
			c0,23.5,19.1,42.7,42.7,42.7h298.7c23.5,0,42.7-19.1,42.7-42.7v-352C225,139.5,223.9,136.8,221.9,134.8z M1,227.7
			c0-5.9,4.8-10.7,10.7-10.7h42.7c5.9,0,10.7,4.8,10.7,10.7v42.7c0,5.9-4.8,10.7-10.7,10.7H11.7C5.8,281,1,276.2,1,270.3V227.7z
			 M-95,249c0-17.6,14.4-32,32-32h32c5.9,0,10.7,4.8,10.7,10.7v42.7c0,5.9-4.8,10.7-10.7,10.7h-53.3c-5.9,0-10.7-4.8-10.7-10.7
			C-95,270.3-95,249-95,249z M-31,462.3c0,5.9-4.8,10.7-10.7,10.7H-63c-17.6,0-32-14.4-32-32v-21.3c0-5.9,4.8-10.7,10.7-10.7h42.7
			c5.9,0,10.7,4.8,10.7,10.7L-31,462.3L-31,462.3z M54.3,462.3c0,5.9-4.8,10.7-10.7,10.7H1c-5.9,0-10.7-4.8-10.7-10.7v-42.7
			c0-5.9,4.8-10.7,10.7-10.7h42.7c5.9,0,10.7,4.8,10.7,10.7L54.3,462.3L54.3,462.3z M161,441c0,17.6-14.4,32-32,32H86.3
			c-5.9,0-10.7-4.8-10.7-10.7v-64c0-5.9-4.8-10.7-10.7-10.7H-84.3c-5.9,0-10.7-4.8-10.7-10.7v-64c0-5.9,4.8-10.7,10.7-10.7h234.7
			c5.9,0,10.7,4.8,10.7,10.7L161,441L161,441z M161,270.3c0,5.9-4.8,10.7-10.7,10.7H97c-5.9,0-10.7-4.8-10.7-10.7v-42.7
			c0-5.9,4.8-10.7,10.7-10.7h32c17.6,0,32,14.4,32,32V270.3z" fill="white" transform="scale(0.12)"/>

         </g>
      </svg>
   </div>
</div>

<% }else if( component === "script" ){ %>

<script src="<%-assets_root%>plugins/misc/starry_sky/script.js"></script>

<% } %>