<div class="id_UiController row">

    <div class="col-lg-9">

        <div class="id_placeholder_UiNegativeBalanceWarning">
        </div>

        <div class="row">

            <div class="id_placeholder_UiSubscribe">

            </div>

            <div class="id_placeholder_UiMySubscription col-md-6">
            </div>

            <div class="id_placeholder_UiPaymentMethod col-md-6">
            </div>

            <div class="id_placeholder_UiDownloadButtons col-md-6">
            </div>

        </div>

    </div>
</div>