<div class="id_UiMySubscription panel plain mt10">

    <div class="panel-body">

        <div class="content-menu">
            <div class="payment-subscription">
                <h1 class="heading-1">My subscription</h1>
                <h2 class="heading-2">Active</h2>
                <p class="payment-text">Cancels in <strong class="id_days_left">X</strong> days</p>
            </div>
            <div class="payment-next clearfix">
                <h2 class="heading-1">Next payment due</h2>

                <dl class="payment-list">
                    <dt class="payment-list-title">DATE</dt>
                    <dt class="id_nextBillDate payment-list-info">13/12/18</dt>
                </dl>
                <dl class="payment-list">
                    <dt class="payment-list-title">AMOUNT</dt>
                    <dt class="payment-list-info"><span class="id_amount">3.07€</span></dt>
                </dl>
            </div>
            <div class="payment-actions mt10">
                <button class="btn btn-primary" type="button">
                    Cancel subscription
                </button>
            </div>
        </div>

    </div>
</div>