<div class="id_UiPaymentMethod panel plain mt10">

    <div class="panel-body">

        <div class="content-menu">
            <div class="page-subscription-payment-method clearfix">
                <h2 class="heading-1">Payment method</h2>
                <div class="alert alert-danger fade in">
                    <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                    <strong>No longer valid</strong> please register a new credit card
                </div>
                <dl class="page-subscription-payment-method-list card-number">
                    <dt class="page-subscription-payment-method-list-title">Card number</dt>
                    <dt class="page-subscription-payment-method-list-info item-alert">XXX...<span class="id_last4">1234</span></span></dt>
                </dl>
                <dl class="page-subscription-payment-method-list expiry">
                    <dt class="page-subscription-payment-method-list-title">Expiration date</dt>
                    <dt class="page-subscription-payment-method-list-info item-alert"><span class="id_expire">12/19</span></dt>
                </dl>
            </div>
            <button class="btn btn-primary">
                Change credit card
            </button>
        </div>

    </div>
</div>