<div class="id_UiSubscribe panel plain mt10">
    <div class="panel-body">

        <div class="jumbotron">
            <h1>Subscribe now</h1>
            <p>
                For enabling semasim on your <b>Android</b> devices
                <br>
                and stop including <b>"Sent with Semasim"</b> in your SMSs.
                <br>
                <br>
                Subscription cancelable anytime.
            </p>
            <button class="btn btn-primary">Subscribe for <span class="id_amount">XX€</span>/Month</button>
        </div>

    <div class="container">
        <div class="footer">
            By subscribing you agree to our :
            <a href="http://www.semasim.com/terms-conditions">terms</a>
            <span> &amp; </span>
            <a href="http://www.semasim.com/privacy-policy">privacy policy</a>
        </div>
    </div>


    </div>

</div>