<!--TODO: col-sm-12 should be externalized -->
<div class="id_UiProduct panel plain col-sm-12 col-lg-10">

    <div class="panel-body">

        <div class="left-column">

            <div class="carousel slide">
                <ol class="carousel-indicators dotstyle center">
                </ol>
                <div class="carousel-inner">
                </div>
                <a class="left carousel-control" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>



        </div>

        <div class="right-column">

            <div class="product-description">
                <span class="id_short_description"></span>
                <h1 class="id_product_name"></h1>
                <p class="id_product_description"></p>
            </div>

            <div class="product-price">
                <span class="id_product_price"></span>
            </div>

            <div class="pull-right mt10">
                <button type="button" class="id_add_to_cart btn btn-success">Add to cart</button>
            </div>

        </div>

    </div>

</div>

<div class="templates">

    <div class="item">
        <img src="">
    </div>

    <li>
        <a href="#"></a>
    </li>

</div>