<style>
    .pac-container {
        z-index: 10000 !important;
    }

    .pac-container:after {
        content: none !important;
    }
</style>

<!-- Panel Modal -->
<div class="id_UiShippingAddress modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p0">
                <div class="panel panel-default mb0">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title">Shipping address</h4>
                        <div class="panel-controls panel-controls-right">
                            <a href="#" class="panel-close id_close">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>

                    </div>
                    <div class="panel-body">


                        <div style="float: right">

                            <button class="id_createContact btn btn-success btn-sm" type="button">
                                <i class="glyphicon glyphicon-ok"></i>
                            </button>

                        </div>
                        <div style="overflow: hidden; padding-right: .5em;">
                            <input class="form-control" placeholder="Enter your address" type="text" />
                        </div>

                    </div>
                </div>
                <!-- End .panel -->
            </div>
        </div>
    </div>
</div>
