<!-- Panel Modal -->
<div class="id_UiShippingForm modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p0">
                <div class="panel panel-default mb0">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title">Shipping information</h4>
                        <div class="panel-controls panel-controls-right">
                            <a href="#" class="panel-close id_close">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-sm-12 col-md-6 pb5">
                                <label>First name *</label>
                                <input class="id_firstName form-control" type="text" />
                            </div>

                            <div class="col-sm-12 col-md-6 pb5">
                                <label>Last name *</label>
                                <input class="id_lastName form-control" type="text" />
                            </div>


                            <div class="col-sm-12 pb5">

                                <label>Shipping address *</label>
                                <input class="id_placeAutocomplete form-control" placeholder="Enter your address"
                                    type="text" />


                            </div>

                            <div class="col-sm-12 pb5">
                                <label>Extra infos (optional)</label>
                                <input class="id_extra form-control" type="text"
                                    placeholder="Something that could help the postman" />
                            </div>

                            <div class="col-sm-12">

                                <div style="float: right">

                                    <button class="btn btn-success btn-sm" type="button">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </button>

                                </div>

                            </div>


                        </div>



                    </div>


                </div>
            </div>
            <!-- End .panel -->
        </div>
    </div>
</div>