<li class="id_UiShipTo dropdown">

    <a href="#" data-toggle="dropdown" aria-expanded="false">
        <span>Ship to</span>
        <div class="id_flag iti-flag"></div>
    </a>

    <div class="dropdown-menu dropdown-form dynamic-settings right animated fadeIn" role="menu">

        <div class="id_countrySelector" data-showspecial="false" data-showflags="true" data-i18nall="All selected"
            data-i18nnofilter="No selection" data-i18nfilter="Filter">
        </div>

    </div>

</li>