<div class="id_SimRow">
    <div class="id_row col-md-12 bb p10">
        <i>
            <svg class="custom-icon">
                <use xlink:href="#icon-sim_card"></use>
            </svg>
        </i>
        <span class="id_simId strong mr10">My sim1 (0654996385)</span>
        <span class="id_connectivity mr10">Online</span>
        <span class="id_ownership hidden-xs">Owned</span>
    </div>
    <div class="id_details col-md-12 pr0 pl0 pt15">
        <p>
            <span class="strong p10">Connectivity:&nbsp;</span>
            <span class="id_connectivity_">Online</span>
        </p>
        <p>
            <span class="strong p10">Physical location:&nbsp;</span>
            <span class="id_gw_location">Montpellier, Languedoc Rousillong, FR ( 82.302.102.2 )</span>
        </p>
        <p>
            <span class="strong p10">Owner:&nbsp;</span>
            <span class="id_owner">Me</span>
        </p>
        <p>
            <span class="strong p10">Phone number:&nbsp;</span>
            <span class="id_number">0636786385 ( +33636786385 )</span>
        </p>
        <p>
            <span class="strong p10">Service privider:&nbsp;</span>
            <span class="id_serviceProvider">Free Mobile ( France )</span>
        </p>
        <p>
            <span class="strong p10">GSM USB Dongle:&nbsp;</span>
            <span class="id_dongle_info">Huawei E160X, firm: 10.12222, IMEI: 111111111111111</span>
        </p>
        <p>
            <span class="strong p10">GSM USB Dongle supported features:&nbsp;</span>
            <span class="id_features">Voicecalls + SMS</span>
        </p>
        <p>
            <span class="strong p10">SIM IMSI:&nbsp;</span>
            <span class="id_imsi">332344242344</span>
        </p>
        <p>
            <span class="strong p10">SIM ICCID:&nbsp;</span>
            <span class="id_iccid">2343334340342343</span>
        </p>
        <p>
            <span class="strong p10">SIM Phonebook:&nbsp;</span>
            <span class="id_phonebook">12/123</span>
        </p>
    </div>
</div>