<!--<div class="id_UiController container-fluid">-->
<!--<div id="_1" class="row">-->
<!--UiButtonBar-->
<!--UiSimRow[]-->
<!--</div>-->
<!--</div>-->

<div class="id_UiController container-fluid">

    <div class="id_placeholder_main row">
    </div>

    <div class="id_placeholder_no_sim jumbotron">
        <h1>Welcome</h1>
        <p>
            You dont have any SIM card registered yet and there is no SIM ready to be registered on your local network. Searching for
            SIM on LAN ... (TODO loading gif)
        </p>
    </div>

</div>