<style>
</style>
<!-- Panel Modal -->
<div class="id_UiShareSim modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p0">
                <div class="panel panel-default mb0">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title">Share SIM card</h4>
                        <div class="panel-controls panel-controls-right">
                            <a href="#" class="panel-close id_close">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div class="container-fluid">

                            <div class="row _toHideIfNotShared">

                                <div class="col-md-12">

                                    <label class="pt5">Allowed users:</label>

                                    <div class="pull-right">
                                        <button class="id_stopSharing btn btn-danger btn-sm" type="button">
                                            <span>Stop sharing</span>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <div class="id_list row b mt10 _toHideIfNotShared">

                            </div>

                            <div class="row mt10">

                                <label class="col-md-12 pt5">Invite users:</label>

                                <div class="col-md-12 pl0 pr0 mt10">
                                    <input type="text" class="id_emails" name="email">
                                </div>


                                <div class="col-md-12 pl0 pr0 mt10 id_message">
                                    <textarea class="form-control" rows="2">I would like to share SIM Free (06 34 39 39 99 ) with you.</textarea>
                                    <i class="fa fa-comments textarea-icon s16"></i>
                                </div>

                                <div class="col-md-12 mt10">

                                    <div class="pull-right">
                                        <button class="btn btn-success id_submit" type="button">
                                            <span>Submit share request</span>
                                        </button>
                                    </div>

                                </div>

                            </div>


                        </div>


                    </div>
                </div>
                <!-- End .panel -->
            </div>
        </div>
    </div>
</div>

<div class="templates">

    <div class="id_row col-md-12 pt10 pb10">
        <i class="glyphicon glyphicon-user mr10"></i>
        <span class="mr10 strong id_email"></span>
        <span class="mr10 text-nowrap id_isConfirmed"></span>
    </div>

</div>