<div class="id_UiSimRow col-xs-12">
    <div class="id_row  bb p10">
        <i class="semasim-icon-sim" style="font-size: 25px;"></i>
        <span class="id_simId strong mr10">---My sim1 (0654996385)---</span>
        <span class="id_connectivity mr10">---Online---</span>
        <span class="mr10">
            <i class="signal_ico glyphicon glyphicon-signal" data-strength="NULL">NULL</i>
            <i class="signal_ico glyphicon glyphicon-signal" data-strength="VERY WEAK">VERY WEAK</i>
            <i class="signal_ico glyphicon glyphicon-signal" data-strength="WEAK">WEAK</i>
            <i class="signal_ico glyphicon glyphicon-signal" data-strength="GOOD">GOOD</i>
            <i class="signal_ico glyphicon glyphicon-signal" data-strength="EXCELLENT">EXCELLENT</i>
        </span>
        <span class="id_ownership hidden-xs">---Owned by: ...---</span>
    </div>
    <div class="id_details pr0 pl0 pt15">
        <p>
            <span class="strong p10">Physical location:</span>
            <span class="id_gw_location">---Montpellier, Languedoc Rousillong, FR ( 82.302.102.2 )---</span>
        </p>
        <p>
            <span class="strong p10">Owner:</span>
            <span class="id_owner">---foo@gmail.com---</span>
        </p>
        <p>
            <span class="strong p10">Phone number:</span>
            <span class="id_number">---0636786385 ( +33636786385 )---</span>
        </p>
        <p>
            <span class="strong p10">Service provider:</span>
            <span class="id_serviceProvider">---Free Mobile ( France )---</span>
        </p>
        <p>
            <span class="strong p10">Dongle model:</span>
            <span class="id_dongle_model">---Huawei E160X</span>
        </p>
        <p>
            <span class="strong p10">Dongle firmware:</span>
            <span class="id_dongle_firm">---10.12222---</span>
        </p>
        <p>
            <span class="strong p10">Dongle imei:</span>
            <span class="id_dongle_imei">---111111111111111---</span>
        </p>
        <p>
            <span class="strong p10">Dongle voice support:</span>
            <span class="id_voice_support">---yes---</span>
        </p>
        <p>
            <span class="strong p10">SIM IMSI:</span>
            <span class="id_imsi">---332344242344---</span>
        </p>
        <p>
            <span class="strong p10">SIM ICCID:</span>
            <span class="id_iccid">---2343334340342343---</span>
        </p>
        <p>
            <span class="strong p10">SIM Phonebook memory usage:</span>
            <span class="id_phonebook">--12/123---</span>
        </p>
    </div>
</div>