<div class="id_ChatWidget panel panel-dark">
    <div class="panel-heading pt10 pb10">
        <h4 class="panel-title">
            <i class="im-bubble"></i>
            <span class="id_name"></span>
            <span class="id_number"></span>
        </h4>
        <button class="id_updateContact btn btn-success" type="button">
            <i class="im-user-plus2"></i>
        </button>
        <div class="pull-right">
            <button class="id_call btn btn-success" type="button">
                <i class="im-phone2"></i>
                <span>Call</span>
            </button>
        </div>
    </div>
    <div class="panel-body bnb">
        <ul></ul>
    </div>
    <div class="panel-footer white-bg">
        <form action="#" class="form-horizontal" role="form">
            <div class="form-group">
                <textarea class="form-control elastic" rows="1"> </textarea>
                <a class="id_send" href="javascript:void(0);">
                    <i class="im-mail-send s20"></i>
                </a>
            </div>
        </form>
    </div>
</div>

<div class="templates">

    <li>
        <div class="message">
            <p class="id_emitter"></p>
            <span class="id_date"></span>
            <p class="id_content">
            </p>
        </div>
    </li>

</div>