
<div class="id_UiHeader page-header">
    <h4>
        <i class="id_icon_sim_up">
            <svg class="custom-icon">
                <use xlink:href="#icon-sim_card"></use>
            </svg>
        </i>
        <a href="#" class="id_friendly_name">
            <span></span>
        </a>
        &nbsp;
        <span class="id_number"></span>
        &nbsp;

        <span class="id_offline color-red"><b>Offline</b></span>

        <i class="signal_ico glyphicon glyphicon-signal" data-strength="NULL">NULL</i>
        <i class="signal_ico glyphicon glyphicon-signal" data-strength="VERY WEAK">VERY WEAK</i>
        <i class="signal_ico glyphicon glyphicon-signal" data-strength="WEAK">WEAK</i>
        <i class="signal_ico glyphicon glyphicon-signal" data-strength="GOOD">GOOD</i>
        <i class="signal_ico glyphicon glyphicon-signal" data-strength="EXCELLENT">EXCELLENT</i>

        <i class="id_sip_registration_in_progress fa fa-spin fa-spinner"></i>

        &nbsp;
        <div class="id_conf" style="display: inline-block;">
            <span style="font-size:70%;"> </span>
            <button type="button" class="btn btn-primary btn-sm">Join call</button>
        </div>

    </h4>
</div>

<div class="templates">

    <div class="id_popover">
        <strong>Sim country:&nbsp;</strong>
        <div class="id_flag iti-flag" style="display: inline-block;"></div>
        <br>
        <strong>Operator: </strong>
        <span class="id_network"></span>
        <br>
        <strong>Current location: </strong>
        <span class="id_geoInfo"></span>
    </div>

</div>
