
<div class="id_UiHeader page-header">
    <h4>
        <i class="id_icon_sim_up">
            <svg class="custom-icon">
                <use xlink:href="#icon-sim_card"></use>
            </svg>
        </i>
        <i class="id_icon_sim_down">
            <svg class="custom-icon">
                <use xlink:href="#icon-sim_card_alert"></use>
            </svg>
        </i>
        <a href="#" class="id_friendly_name">
            <span></span>
        </a>
        &nbsp;
        <span class="id_number"></span>
        &nbsp;
        <span class="id_offline color-red"><b>Offline</b></span>
    </h4>
</div>

<div class="templates">

    <div class="id_popover">
        <strong>Sim country:&nbsp;</strong>
        <div class="id_flag iti-flag" style="display: inline-block;"></div>
        <br>
        <strong>Operator: </strong>
        <span class="id_network"></span>
        <br>
        <strong>Current location: </strong>
        <span class="id_geoInfo"></span>
    </div>

</div>
