<style>
    div.id_flag {
        display: inline-block;
    }
</style>

<div class="id_UiHeader page-header">
    <div class="pull-right">
        <button class="id_up btn btn-info btn-round btn-sm">
            <i class="im-arrow-up16"></i>
        </button>
    </div>
    <h4>
        <i>
            <svg class="custom-icon">
                <use xlink:href="#icon-sim_card"></use>
            </svg>
        </i>
        <a href="#" class="id_friendly_name">
            <span></span>
        </a>
        &nbsp;
        <i class="fa fa-map-marker"></i>&nbsp;&nbsp;
        <span class="id_geoInfo"></span>
        <div class="id_flag iti-flag"></div>
        &nbsp; &nbsp;
        <i class="im-blog2"></i>
        <span class="id_state"></span>
    </h4>
</div>

<div class="templates">

    <div class="id_popover">
        <strong>Sim country:&nbsp;</strong>
        <div class="id_flag iti-flag"></div>
        <br>
        <strong>Network: </strong>
        <span class="id_network"></span>
        <br>
        <strong>Number: </strong>
        <span class="id_number"></span>
    </div>

</div>