<style>
    div.id_UiPhonebook ul li a {
        padding: 6px 10px;
        color: #030303;
        border-top: 1px solid #EAEAEA;
    }

    div.id_UiPhonebook ul li h5.separator {
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    div.id_UiPhonebook ul li.selected a,
    div.id_ContactWidget ul li a:hover {
        color: #000000;
        background-color: #e9ebeb !important;
    }

    div.id_UiPhonebook ul li.has-messages a {
        background-color: #f4f5f5;
    }
</style>


<div class="id_UiPhonebook panel panel-dark">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="im-address-book"></i>
            Contacts
        </h4>
    </div>
    <div class="panel-body p0">
        <div class="p15">
            <form>
                <input class="form-control" type="text" name="search" placeholder="Search for contacts... ">
      </form>
    </div>
    <ul class="nav ">
    </ul>
  </div>
</div>

<div class="templates ">

  <li>
    <a href="javascript:void(0); ">
      <span class="id_name "></span>
      <span class="id_number "></span>
      <div class="pull-right ">
        <span class="id_notifications label label-teal "></span>
      </div>
    </a>
  </li>

</div>