<style>
    div.id_UiPhonebook ul li > div {
        padding: 6px 10px;
        color: #030303;
        border-top: 1px solid #EAEAEA;
        cursor: pointer;
    }

    div.id_UiPhonebook ul li .id_number {
        cursor: text !important;
    }

    div.id_UiPhonebook ul li.selected > div,
    div.id_UiPhonebook ul li > div:hover {
        color: #000000;
        background-color: #e9ebeb !important;
    }

    div.id_UiPhonebook ul li.has-messages > div {
        background-color: #f4f5f5;
    }
</style>


<div class="id_UiPhonebook panel">
    <div class="panel-body p0">
        <div class="p15">
            <form action="javascript:void(0);">
                <input class="form-control" type="text" name="search" placeholder="Search contacts... ">
            </form>
        </div>
        <ul class="nav ">
        </ul>
    </div>
</div>

<div class="templates ">

    <li>
        <div>
            <span class="id_name "></span>
            <span class="id_number pl15"></span>
            <div class="pull-right ">
                <span class="id_notifications label blue-light-bg"></span>
            </div>
        </div>
    </li>

</div>