<style>
    .id_UiQuickAction .intl-tel-input {
        width: 100%;
    }

    .id_UiQuickAction .intl-tel-input input {
        width: 100%;
    }

    .id_UiQuickAction span.id_error-message {
        color: red;
    }

    .id_UiQuickAction .st_flex {
        display:flex;
        justify-content:space-around;
    }

    .id_UiQuickAction .st_flex button {
        width: 100%;
        margin: 5px;
    }

</style>


<div class="id_UiQuickAction panel">
    <div class="panel-body">
        <form class="id_form form-vertical" action="javascript:void(0);">
            <fieldset>
                <div class="row">

                    <div class="col-xs-12 mt5 mb10 pl20 pr20">
                        <input name="tel-input" class="id_tel-input form-control" type="text" required>
                    </div>

                    <div class="col-xs-12">

                        <div class="st_flex">

                            <button type="button" class="id_call btn btn-primary">
                                <i>
                                    <svg class="custom-icon">
                                        <use xlink:href="#icon-call"></use>
                                    </svg>
                                </i>
                                <span class="visible-lg-inline ">Call</span>
                            </button>
                            <button type="button" class="id_sms btn btn-primary">
                                <i>
                                    <svg class="custom-icon">
                                        <use xlink:href="#icon-sms"></use>
                                    </svg>
                                </i>
                                <span class="visible-lg-inline ">SMS</span>

                            </button>
                            <button type="button" class="id_contact btn btn-primary">
                                <i>
                                    <svg class="custom-icon">
                                        <use xlink:href="#icon-add_contact"></use>
                                    </svg>
                                </i>
                                <span class="visible-lg-inline ">New Contact</span>
                            </button>

                        </div>

                    </div>

                </div>
            </fieldset>

    </div>
    <!-- .panel-body-->
</div>


<div class="templates">

    <div class="id_popover">
        <span class="id_error-message"></span>
    </div>
</div>