<style>
    .intl-tel-input {
        width: 100%;
    }

    .intl-tel-input input {
        width: 100%;
    }

    span.id_error-message {
        color: red;
    }

    div.id_UiQuickAction input.id_tel-input {
        text-align: center;
    }
</style>


<div class="id_UiQuickAction panel">
    <!-- Start .panel -->
    <!--
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="im-arrow-right18"></i>
            <span>Quick action </span>
        </h4>
    </div>
    -->
    <div class="panel-body">
        <form class="id_form form-vertical" action="javascript:void(0);">
            <fieldset>
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4 mt10">
                        <input name="tel-input" class="id_tel-input" type="text" required>
                        <!--<input type="tel" class="id_input form-control" placeholder="+33636786385">-->
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8">
                        <div class="pull-right mt10">
                            <button type="button" class="id_call btn btn-primary ml10">
                                <i class="fa fa-phone"></i>&nbsp;
                                <span class="visible-lg-inline visible-xs-inline">Call</span>
                            </button>
                            <button type="button" class="id_sms btn btn-primary ml10">
                                <i class="fa fa-wechat"></i>&nbsp;
                                <span class="visible-lg-inline visible-xs-inline">SMS</span>

                            </button>
                            <button type="button" class="id_contact btn btn-primary ml10">
                                <i class="fa fa-users"></i>&nbsp;
                                <span class="visible-lg-inline visible-xs-inline">New Contact</span>
                            </button>
                        </div>
                    </div>

                </div>
            </fieldset>

    </div>
    <!-- .panel-body-->
</div>


<div class="templates">

    <div class="id_popover">
        <span class="id_error-message">salut</span>
    </div>
</div>