<style>

    @keyframes ring {
        5%,
        45% {
            transform: translate3d(-1px, 0, 0);
        }

        10%,
        40% {
            transform: translate3d(2px, 0, 0);
        }

        15%,
        25%,
        35% {
            transform: translate3d(-3px, 0, 0);
        }

        20%,
        30% {
            transform: translate3d(3px, 0, 0);
        }
    }

    .id_UiVoiceCall .icon-ring {
        animation-name: ring;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .id_UiVoiceCall.modal {
        text-align: center;
        padding: 0!important;
    }
    
    /*

    NOTE: To center vertically but create 
    big margin on small screens so commented.

    .id_UiVoiceCall.modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .id_UiVoiceCall .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    */

    .id_UiVoiceCall .id_numpad {
        text-align: center;
        margin-top: 20px;
    }

    .id_UiVoiceCall .id_numpad .btn {
        margin-bottom: 10px !important;
        margin-right: 5px !important;
    }

    .id_UiVoiceCall .st_flex {
        display:flex;
        justify-content:space-around;
    }

    .id_UiVoiceCall .st_flex > div {
        width: 100%;
    }

</style>

<div class="id_UiVoiceCall modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p0">

                <div class="panel panel-dark mb0">
                    <div class="panel-heading pt10">
                        <div class="row">

                            <div class="col-xs-12">

                                <div class="st_flex">

                                    <div class="text-center">
                                            <p><span class="id_me"></span></p>
                                            <p><span class="id_me_under"></span></p>
                                    </div>
                                    <div class="mt10" style="width: 10% !important; margin-right: 5px;">
                                        <i class="sel_arrow-right l-arrows-right"></i>
                                        <i class="sel_arrow-left l-arrows-left"></i>
                                    </div>
                                    <div class="text-center mt10" style="width: 10% !important;">
                                        <span class="id_timer"></span>
                                        <span class="id_icon-ring fa fa-phone icon-ring"></span>
                                        <span class="id_icon-spin fa fa-spinner icon-spin"></span>
                                        <span class="id_icon-hangup glyphicon glyphicon-phone-alt"></span>
                                    </div>
                                    <div class="mt10" style="width: 10% !important; margin-left: 5px;">
                                        <i class="sel_arrow-right l-arrows-right"></i>
                                        <i class="sel_arrow-left l-arrows-left"></i>
                                    </div>
                                    <div class="text-center">
                                            <p><span class="id_contact"> <span></p>
                                            <p><span class="id_contact_under"></span></p>
                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="text-center">
                            <span class="id_status well well-sm"></span>
                        </div>

                        <div class="row id_numpad">

                            <div class="col-sm-12">
                                <button type="button" class="id_key1 btn btn-success">&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;</button>
                                <button type="button" class="id_key2 btn btn-success">&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;</button>
                                <button type="button" class="id_key3 btn btn-success">&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;</button>
                            </div>

                            <div class="col-sm-12">
                                <button type="button" class="id_key4 btn btn-success">&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;</button>
                                <button type="button" class="id_key5 btn btn-success">&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;</button>
                                <button type="button" class="id_key6 btn btn-success">&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;</button>
                            </div>

                            <div class="col-sm-12">
                                <button type="button" class="id_key7 btn btn-success">&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;</button>
                                <button type="button" class="id_key8 btn btn-success">&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;</button>
                                <button type="button" class="id_key9 btn btn-success">&nbsp;&nbsp;&nbsp;9&nbsp;&nbsp;&nbsp;</button>
                            </div>

                            <div class="col-sm-12">
                                <button type="button" class="id_keyAst btn btn-default">&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;</button>
                                <button type="button" class="id_key0 btn btn-success">&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;</button>
                                <button type="button" class="id_keySharp btn btn-default">&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;</button>
                            </div>

                        </div>

                        <div class="row">
                            <div class="pull-left">
                                <button class="id_btn-green btn btn-success ml10" type="button">
                                    <i class="im-phone2"></i>
                                    <span></span>
                                </button>
                            </div>
                            <div class="pull-right">
                                <button class="id_btn-red btn btn-danger mr10" type="button">
                                    <i class="glyphicon glyphicon-phone-alt"></i>
                                    <span></span>
                                </button>
                            </div>
                        </div>

                    </div>
                    <!-- .panel-body-->
                </div>


            </div>
        </div>
    </div>
</div>